

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.modal {
    font-size: .75rem;
  }
  .modal > .header {
    width: 70%;
    border-bottom: .0625rem solid ;
    font-size: 1.125rem;
    text-align: center;
    margin: auto;
    padding: .625rem .3125rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 1.875rem 3.75rem -0.75rem inset, rgba(0, 0, 0, 0.3) 0rem 1.125rem 2.25rem -1.125rem inset;
    border: solid #000 ;
  }
 
  
  .modal > .actions {
    font-family: 'Roboto', sans-serif;
    width: 70%;
   font-size: 1.25rem;
    padding: .625rem .3125rem;
    margin: auto;
    text-align: center;
    background-color: #faf8fc;
    box-shadow: rgba(102, 102, 219, 0.25) 0rem 1.875rem 3.75rem -0.75rem inset, rgba(0, 0, 0, 0.3) 0rem 1.125rem 2.25rem -1.125rem inset;
  border-radius: 1.875rem; 
  
   
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: .700rem;
    line-height: 1.00rem;
    right: 7.125rem;
    top: -0.425rem;
    font-size: 1.175rem;
    background: #434040;
    border-radius: 50rem;
    border: .1425rem solid #6b6868;
  }
  button {
    padding: 1.3em 3em;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .1563rem;
    font-weight: 500;
    color: #000;
    background-color: rgb(222, 217, 217);
    border: none;
    border-radius: 2.8125rem;
    box-shadow: 0rem .5rem .9375rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #885bc8;
    box-shadow: 0rem .9375rem 1.25rem rgba(206, 162, 213, 0.4);
    color: #fff;
    transform: translateY(-0.4375rem);
  }
  
  button:active {
    transform: translateY(-0.0625rem);
  }
  /*.principal {
    align-items: center;
    display: flex;
    height: 100vh;
  }
  .secundario{
   
  }*/ 
  /*.button {
width: 20%;
height: 10%;
align-items: center;
display: flex;
position: relative;*/